In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [33]:
dict1

{'april_batch': {'student': {'name': 'Ranjitkumar',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DS': 80}}}}

In [9]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [11]:
# accessing mike
dict1['april_batch']['student']['name']

'Mike'

In [13]:
# accessing marks in python
dict1['april_batch']['student']['marks']['python']

80

In [14]:
#changing name to myname
dict1['april_batch']['student']['name']='Ranjitkumar'
dict1

{'april_batch': {'student': {'name': 'Ranjitkumar',
   'marks': {'python': 80, 'maths': 70}}}}

In [26]:
# adding "ML"=80 and "DS"=8
dict1['april_batch']['student']['marks']['ML']=80
dict1['april_batch']['student']['marks']['DS']=80

In [27]:
dict1

{'april_batch': {'student': {'name': 'Ranjitkumar',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'dl': 80, 'DS': 80}}}}

In [23]:
dict1.items()

dict_items([('april_batch', {'student': {'name': 'Ranjitkumar', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'dl': 80, 'DS': 80}}})])

In [30]:
k=dict1['april_batch']['student']['marks'].pop('dl')

In [31]:
k

80

In [32]:
dict1

{'april_batch': {'student': {'name': 'Ranjitkumar',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DS': 80}}}}